@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Playfair+Display:wght@400;600&display=swap');

body {
  background: #FAFBFD;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}

.heading-serif {
  font-family: "Playfair Display", serif;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(14,14,35,0.06);
}
